.form-header {
	font-family: 'Libre Baskerville', serif;
	font-size: 3em;
	padding: 50px 20px 50px 0px;
	position: relative;
	display: inline-block;
}

.form-header::before {
	content: "";
	display: block;
	position: absolute;
	width: 200px;
	height: 15px;
	background: #c0c0c05c;
	top: 50%;
	transform: translateY(-50%);
	left: 100%;
}

 .input-style {
 	line-height:4em;
 	border-top: none;
 	border-right: none;
 	border-bottom: 4px solid #c0c0c09c;
 	border-left: none;
 	width: 100%;
 	outline: none;
 	margin-top: 15px;
 }
/*---------------------------------------------*/
.input-parent {
 	position: relative;
 	color: #9e9e9e;
 	}

.label-form {
 	position: absolute;
 	transform: translateY(-4.5em);
 	left: 0;
 	bottom: -1em;
 	}

.input-style:empty ~ .label-form{
 	transform: translateY(-1.5em);
	}

.input-style:focus ~ .label-form{
 	 position: absolute;
 	 transform: translateY(-4.5em);
 	}

.input-style:valid	 ~ .label-form{
 	 position: absolute;
 	 transform: translateY(-4.5em);
 	}

/*---------------------------------------------*/
 .submit-style {
  	margin-top: 3em;
  	height: 3em;
  	width: 100%;
  	border-radius: 0;
  	border: none;
	font-family: 'Karla';
	font-size: 1em;
	font-weight: 200;
 }

.input-block {
	font-family: 'Karla';
	text-align: left;
	padding-right:50px;
}

.contact-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 50px;
}

.contact-text {
	width: 350px;
	text-align: left;
}

h3.contact-text {
	margin-top:  1em;
}

p.contact-text {
	margin-top:  2em;
}


.image-box {
	position: relative;
}

.image-box::after {
	content: "";
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 8px solid #c0c0c05c;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.bold-text {
	font-weight: bold;
}

.light-text {
	font-weight: 100;
}

